<div class="wrapper footer">
	<div id="footer">



        <div class="leftCol">
        
        <!-- ========================== -->	
        <!-- !LATEST TWEETS OUTPUT HERE -->
        <!-- ========================== -->	
        <div class="tweet"><span class="indicate"></span></div>
        
        </div><!-- /leftCol -->
        
        


        <div class="rightCol">
        
            <form class="newsletter" action="" method="post">
            
                <p><img class="logo" src="images/content/logo_small.png" alt="candyShoppe" /></p> 
                
                <label for="newsletterEmail" class="label">sign up for updates</label>
                
                <input class="input" type="text" id="newsletterEmail" name="newsletterEmail"/>

                <input class="submit" type="submit" value="submit" />
                <br class="clearfloat" />
                <br />
                 <p class="footerPrivacy">
                    your information will only be used for the <a href="index.html" title="housr - Find a realtor in the Greater Toronto Area, free!">housr</a> newsletter. view our <a class="legalPrivacy" href="legal/privacy.html" title="Privacy Policy">privacy policy.</a>			
                 </p>
        
            </form><br class="clearfloat" />
        </div><!-- /rightCol -->



        <br class="clearfloat" />




        <div class="footerLinks">
        	<ul>
            	<li class="footerNow">
                	<a href="register.html">find your realtor with<br /> housr <strong class="cap">now</strong></a>
                </li>
            	<li class="footerCreds">
                	<p>
                    	<a href="http://housr.ca" title="Milan Malivuk"><strong>housr</strong> copyright &copy; 2011 <br /> by Milan Malivuk</a> 
                                           
                    </p>
                </li>
            </ul>
            
        	<ul>
            	<li><a href="about.html">About</a></li>
            	<li><a href="contact.php">Contact</a></li>
            	<li><a href="#">FAQ</a></li>
            	<li><a href="admin.html">Admin</a></li>
            </ul>
            
        	<ul>
            	<li><a class="legalTerms" href="legal/terms.html" title="Terms &amp; Conditions">Terms &amp; Conditions (colorbox)</a></li>
            	<li><a class="legalPrivacy" href="legal/privacy.html" title="Privacy Policy">Privacy Policy (colorbox)</a></li>
            	<li><a href="legal/privacy.html" target="_blank">Privacy Policy  (actual page)</a></li>
            	<li><a href="legal/terms.html" target="_blank">Terms &amp; Conditions (actual page)</a></li>
            </ul>
            
        	<ul>
            	<li><a href="#">Some Thing</a></li>
            	<li><a href="#">Other Thing</a></li>
            	<li><a href="#">Yet Another Thing</a></li>
            	<li><a href="#">Another Cool Link</a></li>
            </ul>
        <br class="clearfloat" />
  		</div><!-- END: footerLInks -->




        
    </div><!-- /#footer -->
</div><!-- END: wrapper.footer -->