<div class="hidden">

	<!-- quick login -->
    <div id="quickLogin">
    	
        <form class="loginForm" id="hiddenLogin" action="admin.html" >
        
        
        	<!-- delete this -->
        	<h3>Any values will work for this demo</h3>
        	<!-- delete above -->
            
            
            
            <p>
            <label for="email">Email<span class="asterisk">*</span></label> 
            <input type="text" name="email" id="email" value="" class="input  required email" />
            </p>
            
            <p>
            <label for="password">Password<span class="asterisk">*</span></label>
            <input type="password" name="password" id="password" class="input required" />
            </p>
                
            <br />
                
            <p>
            <input type="submit" name="Submit" class="signIn" value="sign in to your account" />
            </p>
            
            <br class="clearfloat" />                 
        </form>
    
    </div><!-- /quickLogin -->


</div><!-- /hidden -->