<!--  ===============  -->
<!-- !  main features  -->
<!--  ===============  -->
<ul class="mainFeatures">

    <!-- main feature 1 -->
	<li>
    	<img src="images/content/mainFeature1.png" alt="feature icon" />
    	<h3>fill out your information</h3>
        <p>
        	State your location, type of house and other relevant information so that we can match you up to the perfect agents.
        </p>
    </li>
    
    <!-- main feature 2 -->
	<li class="middleFeature">
    	<img src="images/content/mainFeature2.png" alt="feature icon" />
    	<h3>Review Proposals</h3>
        <p>
        	Realtors will respond with proposals based on your criteria and you pick the one that you like best.
        </p>
    </li>
    
    <!-- main feature 3 -->
	<li>
    	<img src="images/content/mainFeature3.png" alt="feature icon" />
    	<h3>Select your realtor</h3>
        <p>
        	Once you've chosen your realtor, enjoy the buying or selling process knowing you've got the best agent!
        </p>
    </li>
    
</ul><!-- /mainFeatures -->