<!-- ============================================== -->	
<!-- !   company name/ logo 	main navigation     -->
<!-- ============================================== -->
<div class="wrapper header">
	<div id="header">
    
        <h1><a href="/" title="housr - Find a Realtor or Real Estate agent in the Greater Toronto Area"><strong>housr</strong></a></h1>
        
        <ul class="mainNav">
            <li><a href="/" class="active" >Home</a></li>
            <li><a href="find">Find an Agent</a></li>
            <li><a href="pricing.html#featureTour">Features</a></li>
            
            <li><a href="contact.php">Contact</a></li>
            <li><a href="admin.html">Admin</a></li>
            
            <!-- login and register links -->
            <li>
            	<ul>
                	<li class="signinLink"><a class="quickLogin" href="#" title="Login to Your Account">Sign In</a></li>
                	<li class="registerLink"><a href="register#content">Register</a></li>
                </ul>
            </li>
            <!-- end login and register links -->
            
        </ul>
        
    </div><!-- /#header -->
</div><!-- END: wrapper.header -->