<!-- /////////////////////////////////////////this one goes out to all my non-javascript peeps out there. get your script on people. its the two-thousands here ////////////////////////// -->
<noscript>
  <div class="wrapper" id="no-js">
    <div class="javaDouche">
        <strong class="ayo"><br />A yo! Your browser has javascript disabled.</strong><br/>
        This site absolutely <span class="ayo">&hearts;</span> javascript. So, ga'head and turn it back on. Seriously! Before we send goons after you.
        Here are Microsoft's instructions about <a href="http://support.microsoft.com/gp/howtoscript" title="How to enable scripting in your browser">enabling javascript</a>.
        For all my Safari peeps out there, just go to "Preferences", then "Security", and check "Enable Javascript". <br /><br />Now, get your NOM! on.<br /><br />
    </div>
  </div>
</noscript>