<div class="wrapper content">
	<div id="content">
    


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <!--  ================== -->
        <!-- !  LOGIN/ REGISTER  -->
        <!--  ================== -->

        <div class="loginRegister">
        
        
        <div class="login">
        
            <h1>login</h1>
            
            <h3>already have an account?</h3>
            
            <form class="loginForm" action="admin.html" >
                <p>
                <label for="email">Email<span class="asterisk">*</span></label><br /> 
                <input type="text" name="Email" id="email" value="" class="input required email" />
                </p>
                
                <p>
                <label for="password">Password<span class="asterisk">*</span></label><br /> 
                <input type="password" name="password" id="password" class="input required" />
                </p>
                
                
                <p>
                <input type="submit" name="Submit" class="signIn" value="sign in NOW!" />
        
        
                <input type="checkbox" name="remember" id="remember" value="remember" />
                <label for="remember" class="remember">Keep me signed in</label>
                </p>                 
            </form>
            
            <br />
            <p class="forgotPassword">Forgot your password? &nbsp;<a class="retrievePassword" href="#" title="Retrieve Password">Click Here</a></p>
            
         <br class="clearfloat" />
         
        </div><!-- end login -->
        
        
        
        <div class="register">
        
            <h1>register</h1>
            
            <h3>start getting your NOM! on</h3>
            
            <form class="registerForm" action="admin.html" >
                <p>
                <label for="name">Name<span class="asterisk">*</span></label>
                <input type="text" name="name" id="name" value="" class="input required" />
                </p>
                
                <p>
                <label for="regemail">Email<span class="asterisk">*</span></label>
                <input type="text" name="regemail" id="regemail" class="input required email" />
                </p>
                
                <p>
                <label for="regpassword">Password<span class="asterisk">*</span></label>
                <input type="password" name="regpassword" id="regpassword" class="input required" />
                </p>
                
                <p>
                <label for="regpassword2">Password<span class="asterisk">*</span></label>
                <input type="password" name="regpassword2" id="regpassword2" class="input required" />
                </p>
                
                <p>
                <input type="submit" name="register" class="register" value="register NOW!" />
        
                <input type="checkbox" name="terms" id="terms" value="remember" />
                <label for="terms" class="terms">I agree to the <a class="legalTerms" href="legal/terms.html" title="Terms &amp; Conditions">terms &amp; conditions</a> and  <a class="legalPrivacy" href="legal/privacy.html" title="Privacy Policy">privacy policy</a></label>
                </p>                 
            </form>
            
         <br class="clearfloat" />
        </div><!-- end register -->
        
        
        
        <br class="clearfloat" />
        </div><!-- END: login & register -->
            
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        


    
    </div><!-- /#content -->
</div><!-- END: wrapper.content -->